@using Nate.DockerComposeUI.Image.Model

<MudPaper>
    <h3>Volumes</h3>
    
    @foreach (var volume in Volumes)
    {
        <MudText>@volume.Name - @volume.Description</MudText>
    }
</MudPaper>


@code {
    [Parameter]
    public List<Volume> Volumes { get; set; } = new();
}