<MudPaper>
    <h3>ConfigurationFilesCard</h3>
    
    @foreach (var configurationFile in ConfigurationFiles)
    {
        <MudText>@configurationFile.Path : @configurationFile.Name - @configurationFile.Description</MudText>
    }
</MudPaper>


@code {
    [Parameter]
    public List<ConfigurationFile> ConfigurationFiles { get; set; } = new();
}