<MudPaper>
    <h3>Environment Variables</h3>
    
    @foreach (var environmentVariable in EnvironmentVariables)
    {
        <MudText>@environmentVariable.Name - @environmentVariable.Description</MudText>
    }
</MudPaper>


@code {
    [Parameter]
    public List<EnvironmentVariable> EnvironmentVariables { get; set; } = new();
}