<MudPaper>
    <h3>Volumes</h3>
    
    @foreach (var port in Volumes)
    {
        <MudText>@port.Path : @port.Name - @port.Description</MudText>
    }
</MudPaper>


@code {
    [Parameter]
    public List<Volume> Volumes { get; set; } = new();
}