@using Nate.Breeze.ImageDescription.Model
<h3>ImageDescription</h3>

<Markdown FilePath="wwwroot/markdown-file.md"></Markdown>



@code {

    [Parameter]
    public Description Description { get; set; } = null!;

}