@using Nate.Breeze.ImageSecrets.Model
<MudPaper>
    <h3>Ports</h3>
    
    @foreach (var secret in Secrets)
    {
        <MudText>@secret.Name - @secret.Description</MudText>
    }
</MudPaper>


@code {
    [Parameter]
    public List<Secret> Secrets { get; set; } = new();
}