<MudCard>
    <MudCardHeader Class="pa-3">
        <CardHeaderContent>
            <h2>&#128229 Sample Deployments</h2>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent Class="pa-0 ma-0">
        <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-0">
            @foreach (var deployment in Deployments)
            {
                <MudTabPanel Text="@deployment.Name">
                    <NateMonacoEditor Height="600px" Text="@deployment.DockerComposeYml" Language="yaml" />
                </MudTabPanel>
            }
        </MudTabs>
    </MudCardContent>
</MudCard>


@code {

    [Inject]
    private DeploymentRepository Repository { get; set; } = null!;
    
    
    [Parameter]
    public string ImageOrganisation { get; set; } = string.Empty;
    
    [Parameter]
    public string ImageNamespace { get; set; } = string.Empty;
    
    [Parameter]
    public string ImageTag { get; set; } = string.Empty;


    private List<Deployment> Deployments { get; set; } = new();
    
    
    protected override async Task OnInitializedAsync()
    {
        Deployments = await Repository.Load(ImageOrganisation, ImageNamespace, ImageTag);
    }
}