<MudCard>
    <MudCardHeader Class="pa-3">
        <CardHeaderContent>
            <h2>&#128137 Environment Variables</h2>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent Class="pa-0">
        <MudSimpleTable Style="overflow-x: auto;" Dense="true">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var environmentVariable in EnvironmentVariables)
                {
                    <tr>
                        <td>@environmentVariable.Name</td>
                        <td>@environmentVariable.Description</td>
                    </tr>
                }
            </tbody>
        </MudSimpleTable>
    </MudCardContent>
</MudCard>


@code {
    [Inject]
    private EnvironmentVariablesRepository Repository { get; set; } = null!;
    
    
    [Parameter]
    public string ImageOrganisation { get; set; } = string.Empty;
    
    [Parameter]
    public string ImageNamespace { get; set; } = string.Empty;
    
    [Parameter]
    public string ImageTag { get; set; } = string.Empty;


    private List<EnvironmentVariable> EnvironmentVariables { get; set; } = new();


    protected override async Task OnInitializedAsync()
    {
        EnvironmentVariables = await Repository.Load(ImageOrganisation, ImageNamespace, ImageTag);
    }
}