<MudCard>
    <MudCardHeader Class="pa-3">
        <CardHeaderContent>
            <h2>Ports</h2>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent Class="pa-0">
        <MudSimpleTable Style="overflow-x: auto;" Dense="true">
            <thead>
            <tr>
                <th>Port</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var port in Ports)
            {
                <tr>
                    <td>
                        <MudChip>@port.Number: @port.Name</MudChip>
                    </td>
                    <td>@port.Name</td>
                    <td>@port.Description</td>
                </tr>
            }
            </tbody>
        </MudSimpleTable>
    </MudCardContent>
</MudCard>


@code {
    [Inject]
    private PortsRepository Repository { get; set; } = null!;
    
    
    [Parameter]
    public string ImageOrganisation { get; set; } = string.Empty;
    
    [Parameter]
    public string ImageNamespace { get; set; } = string.Empty;
    
    [Parameter]
    public string ImageTag { get; set; } = string.Empty;


    private List<Port> Ports { get; set; } = new();


    protected override async Task OnInitializedAsync()
    {
        Ports = await Repository.Load(ImageOrganisation, ImageNamespace, ImageTag);
    }
}