<MudPaper>
    <h3>Ports</h3>
    
    @foreach (var port in Ports)
    {
        <MudText>@port.Number : @port.Name - @port.Description</MudText>
    }
</MudPaper>


@code {
    [Inject]
    private PortsRepository Repository { get; set; } = null!;
    
    
    [Parameter]
    public string ImageOrganisation { get; set; } = string.Empty;
    
    [Parameter]
    public string ImageNamespace { get; set; } = string.Empty;
    
    [Parameter]
    public string ImageTag { get; set; } = string.Empty;


    private List<Port> Ports { get; set; } = new();


    protected override async Task OnInitializedAsync()
    {
        Ports = await Repository.Load(ImageOrganisation, ImageNamespace, ImageTag);
    }
}