<MudPaper>
    <h3>Ports</h3>
    
    @foreach (var secret in Secrets)
    {
        <MudText>@secret.Name - @secret.Description</MudText>
    }
</MudPaper>


@code {
    [Inject]
    private SecretsRepository Repository { get; set; } = null!;
    
    
    [Parameter]
    public string ImageOrganisation { get; set; } = string.Empty;
    
    [Parameter]
    public string ImageNamespace { get; set; } = string.Empty;
    
    [Parameter]
    public string ImageTag { get; set; } = string.Empty;


    private List<Secret> Secrets { get; set; } = new();


    protected override async Task OnInitializedAsync()
    {
        Secrets = await Repository.Load(ImageOrganisation, ImageNamespace, ImageTag);
    }
}